:root {
  --vp-c-brand-1: #d98c3a;
  --vp-c-brand-2: #a65d25;
  --vp-c-brand-3: #6e361a;  --vp-home-hero-image-background-image: linear-gradient(-45deg, rgba(217, 140, 58, 0.7) 30%, rgba(245, 166, 35, 0.7) 70%);
  --vp-home-hero-image-filter: blur(200px);
}   

.VPHero .text {
  color: var(--vp-c-brand-2);
}

.VPHero.has-image.VPHomeHero .image-container {
  margin-top: 3rem;
}

.VPHero.has-image.VPHomeHero .image-container img {
  border-radius: 1.5rem;
}

.VPContent.is-home .vp-doc h1,
.VPContent.is-home .vp-doc h2,
.VPContent.is-home .vp-doc h3,
.VPContent.is-home .vp-doc h4,
.VPContent.is-home .vp-doc h5,
.VPContent.is-home .vp-doc h6 {
  border: none;
}
